@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #424242;
  overflow-x: hidden;
}

body > div {
  overflow-x: hidden;
}

input, select, a, button, textarea, span {
  font: 18px 'Montserrat', sans-serif;
}

button, a {
  text-decoration: none;
  transition: .2s;
  opacity: 1;
  filter: brightness(100%);
}

a{
  color: #424242;
}

button:hover {
  cursor: pointer;
  filter: brightness(85%);
}

a:hover {
  cursor: pointer;
  opacity: .6;
}
